<aside>
    
    
    <img src="assets/images/avatar_cp_big.jpg" alt="Avatar" class="avatar"> 

    <h2>Qui suis-je ?</h2>
    <p class="card"> 
        Pierre :)
        <br> <br> 
        26 ans, <br> 
        Ingénieur logiciel <br>
        Lillois vivant à Toulouse <br>
        +33 6 83 71 44 40 <br>
        pierre.bausiere@gmail.com <br>
    </p>
    <h2>Comment je me défini :</h2>
    <p class="definition">
            Toujours en veille technologique, j'aime les défis et apprendre de nouveaux concepts et langages informatiques. <br>
            
            Passionné de nouvelles technologies et de développement, et plus particulièrement de tout ce qui touche à l'intelligence artificielle, ambiante et embarquée.<br> 
            
            La domotique, les drones et la robotique sont des sujets parmi ceux qui m'intéressent le plus, et j'ai une forte attirance pour les domaines de l'aéronautique, de l'aérospatial et de la santé. <br>

    </p>



</aside>
