<article *ngFor="let article of articles">
    <h1>{{article.title}}</h1>
    <p>{{article.content}}</p>
</article>

<!-- Temp & à réinverser côté flex css-->
<article>
    <h1>Youka Project</h1>
    <h4 class="date">2017</h4>
    <section class="context">
        <h4>Contexte :</h4>
        <p>Volonté de créer un site regroupant mes différentes expériences & projets</p>
    </section>

    <section class="actions">
        <h4>Actions :</h4>
        <ul>
            <li>Apprentissage Angular + Typescript</li>
            <li>Création du site</li>
        </ul>
    </section>
    <section class="techs">
        <h4>Technos : </h4>
        <ul>
            <li>Angular</li>
            <li>Typescript</li>
            <li>HTML5</li>
            <li>CSS3</li>
        </ul>
    </section>
</article>

<article>
    <h1>Ingénieur Développement logiciel</h1>
    <h4 class="client">Sierra Wireless <img src="assets/images/sierra_wireless.png" alt="Sierra Wireless" class="client_logo"> </h4>
    <h4 class="date">Depuis Juillet 2017</h4>
    <section class="context">
        <h4>Contexte :</h4>
        <p>Projet visant à garantir un accès internet via réseau cellulaire à des organisations dont le réseau internet classique
            serait défaillant</p>
    </section>

    <section class="actions">
        <h4>Actions :</h4>
        <ul>
            <li>Création du site web de commande de bundle de connectivité</li>
            <li>Normalisation des fichiers d'usages des réseaux partenaires</li>
            <li>Création des APIs de mise à disposition des informations des réseaux partenaires</li>
            <li>Facturation & Dashboards</li>
        </ul>
    </section>
    <section class="techs">
        <h4>Technos : </h4>
        <ul>
            <li>NodeJs</li>
            <li>React</li>
            <li>Java</li>
            <li>Jenkins</li>
            <li>Git</li>
            <li>Docker</li>
            <li>AWS</li>
        </ul>
    </section>
</article>

<article>
    <h1>Ingénieur Développement logiciel</h1>
    <h4 class="client">Auchan <img src="assets/images/auchan.png" alt="Auchan" class="client_logo"> </h4>
    <h4 class="date">Juin 2016 à Juin 2017</h4>
    <section class="context">
        <h4>Contexte :</h4>
        <p>Projet de dématérialisation de tickets de caisse.</p>
    </section>

    <section class="actions">
        <h4>Actions :</h4>
        <ul>
            <li>Création des services de dématérialisation des tickets</li>
            <li>Mise à disposition d'API de recherche de tickets de caisse</li>
            <li>Réalisation de POCs d'optimisation d'espace de stockage et de vitesse de mise à disposition des tickets (Couchbase,
                bases objets)</li>
            <li>Mise en place de la chaine d'intégration et de livraison continue (Git, Jenkins)</li>
            <li>Mise en production</li>
        </ul>
    </section>
    <section class="techs">
        <h4>Technos : </h4>
        <ul>
            <li>Java8</li>
            <li>Spring4</li>
            <li>Spring-boot</li>
            <li>Couchbase (NOSQL)</li>
            <li>S3</li>
            <li>Maven</li>
            <li>JMS</li>
            <li>Jenkins</li>
            <li>Git</li>
            <li>Gatling</li>
        </ul>
    </section>
</article>